#cheat-sheet h1 {
    font-family: sans-serif;
}
#cheat-sheet h2 {
    font-family: sans-serif;
}
#cheat-sheet h3 {
    font-family: sans-serif;
}
#cheat-sheet section {
    
}
#cheat-sheet table {
    border-collapse: collapse;
    border-spacing: 0;
}
#cheat-sheet th, td {
    font-family: sans-serif;
    border: 1px solid black; vertical-align: top;
    padding: 8px;
}
#cheat-sheet th {
   vertical-align: middle;
}